<!DOCTYPE html>
<html lang="en">


<%- include('./includes/head') %>

  <title>Rockr Blog</title>
  </head>

  <body>
    <%- include('./includes/header') %>
      <%- include('./includes/contact') %>
        <main class="content">
          <ol class="content__list">
          </ol>
        </main>
  </body>

</html>