<!DOCTYPE html>
<html lang="en">


<%- include('./includes/head') %>

  <title>Rockr Blog</title>
  </head>

  <body>
    <%- include('./includes/header') %>
      <%- include('./includes/contact') %>
        <main id="content" class="content"></main>
  </body>

</html>