<!DOCTYPE html>
<html lang="en">

<%- include('./includes/head') %>

  </head>

  <body>
    <%- include('./includes/header') %>
      <main>
        <section id="post">
          <article class="article">
            <img class="article__image" src="https://source.unsplash.com/640x640/?rock-concert" alt="">
            <div class="article__subtitle">
              <span class="article__subtitle__author">Kelsi Monahan</span>
              <h3 class="article__subtitle__title">Qui occaecati vero et quibusdam non</h3>
              <p class="article__subtitle__content">Saepe quia culpa vero. Velit numquam corporis nihil sint enim
                exercitationem. Rem nulla illum sint et id
                dolore voluptas </p>
              <a><img src="../public/assets/arrow.svg" alt=""></a>
            </div>
          </article>
        </section>
      </main>
  </body>

</html>