<div id="background"></div>
<section id="form_section">
  <div class="form_content">
    <form>
      <button type="reset" id="close">X</button>
      <h3>Contact</h3>
      <p>
        <label for="name">Name</label>
        <input type="text" name="name" id="name" placeholder="Fill your full name">
      </p>
      <p>
        <label for="email">E-mail</label>
        <input type="email" name="email" id="email" placeholder="Fill a valid  e-mail">
      </p>
      <p>
        <label for="phone">Phone</label>
        <input type="tel" name="phone" id="phone" placeholder="Fill your phone">
      </p>
      <p>
        <label for="message">Post</label>
        <textarea name="message" id="message" rows="6" placeholder="Hello..."></textarea>
      </p>
      <button id="submit" type="submit"><img src="/frontend/public/assets/send.svg" alt="">Submit</button>
    </form>
  </div>
</section>