<!DOCTYPE html>
<html lang="en">

  
  <%- include('./includes/head') %>
  <link rel="stylesheet" href="/css/content.css">
  <link rel="stylesheet" href="/css/form.css">
  <script src="/scripts/open_form.js" defer></script>
  <title>Rockr Blog</title>
</head>

<body>
  <%- include('./includes/header') %>
  <%- include('./includes/contact') %>
  <main id="content">
    <section class="content_small">
      <article>
        <img src="https://source.unsplash.com/640x640/?rock-concert" alt="">
        <div class="small_subtitle">
          <span class="subtitle_author">Kelsi Monahan</span>
          <h3>Qui occaecati vero et quibusdam non</h3>
          <p class="subtitle_article">Saepe quia culpa vero. Velit numquam corporis nihil sint enim
            exercitationem. Rem nulla illum sint et id
            dolore voluptas </p>
          <i><img src="/assets/arrow.svg" alt=""></i>
        </div>
      </article>
      <article>
        <img src="https://source.unsplash.com/640x640/?rock-concert" alt="">
        <div class="small_subtitle">
          <span class="subtitle_author">Kelsi Monahan</span>
          <h3>Qui occaecati vero et quibusdam non</h3>
          <p class="subtitle_article">Saepe quia culpa vero. Velit numquam corporis nihil sint enim
            exercitationem. Rem nulla illum sint et id
            dolore voluptas </p>
          <i><img src="/assets/arrow.svg" alt=""></i>
        </div>
      </article>
    </section>
    <section class="content_big right">
      <article>
        <img src="https://source.unsplash.com/640x640/?rock-concert" alt="">
        <div class="big_subtitle">
          <span class="big_author">Kelsi Monahan</span>
          <h3>Repellat aliquam quo sit qui praesentium ut aliquid</h3>
          <p class="big_article">Saepe quia culpa vero. Velit numquam corporis nihil sint enim
            exercitationem. Rem nulla illum sint et id
            dolore voluptas </p>
          <i><img src="/assets/arrow.svg" alt=""></i>
        </div>
      </article>
    </section>
    <section class="content_small">
      <article>
        <img src="https://source.unsplash.com/640x640/?rock-concert" alt="">
        <div class="small_subtitle">
          <span class="subtitle_author">Kelsi Monahan</span>
          <h3>Qui occaecati vero et quibusdam non</h3>
          <p class="subtitle_article">Saepe quia culpa vero. Velit numquam corporis nihil sint enim
            exercitationem. Rem nulla illum sint et id
            dolore voluptas </p>
          <i><img src="/assets/arrow.svg" alt=""></i>
        </div>
      </article>
      <article>
        <img src="https://source.unsplash.com/640x640/?rock-concert" alt="">
        <div class="small_subtitle">
          <span class="subtitle_author">Kelsi Monahan</span>
          <h3>Qui occaecati vero et quibusdam non</h3>
          <p class="subtitle_article">Saepe quia culpa vero. Velit numquam corporis nihil sint enim
            exercitationem. Rem nulla illum sint et id
            dolore voluptas </p>
          <i><img src="/assets/arrow.svg" alt=""></i>
        </div>
      </article>
    </section>
    <section class="content_big left">
      <article>
        <img src="https://source.unsplash.com/640x640/?rock-concert" alt="">
        <div class="big_subtitle">
          <span class="big_author">Kelsi Monahan</span>
          <h3>Qui occaecati vero et quibusdam non</h3>
          <p class="big_article">Saepe quia culpa vero. Velit numquam corporis nihil sint enim
            exercitationem. Rem nulla illum sint et id
            dolore voluptas </p>
          <i><img src="/assets/arrow.svg" alt=""></i>
        </div>
      </article>
    </section>


  </main>
</body>

</html>