<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Rockr Blog</title>
</head>

<body id="app">
  <header id="header">
    <div class="header__container">
      <h1 id="header__container__logo">Rockr Blog</h1>
      <nav class="header__container__nav">
        <ul>
          <li>Posts</li>
          <li>Contact</li>
        </ul>
      </nav>
    </div>
  </header>

  <main id="content">
    <section class="content__small">
      <form>
        <button>X</button>
        <h2>Contact</h2>
        <p>
          <label for=""></label>
          <input type="text" name="" id="">
        </p>
        <p>
          <label for=""></label>
          <input type="email" name="" id="">
        </p>
        <p>
          <label for=""></label>
          <input type="tel" name="" id="">
        </p>
        <p>
          <label for=""></label>
          <textarea name="" id="" cols="30" rows="10"></textarea>
        </p>
        <button type="submit"><i></i>Submit</button>
      </form>
    </section>
  </main>
</body>

</html>