<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Rockr Blog</title>

  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/form.css">

</head>

<body>
  <main>
    <section>
      <form>
        <button type="reset" id="close">X</button>
        <h3>Contact</h3>
        <p>
          <label for="name">Name</label>
          <input type="text" name="name" id="name">
        </p>
        <p>
          <label for="email">E-mail</label>
          <input type="email" name="email" id="email">
        </p>
        <p>
          <label for="phone">Phone</label>
          <input type="tel" name="phone" id="phone">
        </p>
        <p>
          <label for="message">Post</label>
          <textarea name="message" id="message" rows="6"></textarea>
        </p>
        <button id="submit" type="submit"><img src="/assets/send.svg" alt="">Submit</button>
      </form>
    </section>
  </main>
</body>

</html>