<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="/build/styles/main.css">
  <link rel="stylesheet" href="/build/styles/content.css">
  <title>Rockr Blog</title>
</head>

<body>
  <header id="header">
    <div class="container">
      <h1 id="logo">Rockr Blog</h1>
      <nav class="navigation">
        <ul>
          <li>Posts</li>
          <li>Contact</li>
        </ul>
      </nav>
    </div>
  </header>

  <main id="content">
    <section class="content_small">
      <article>
        <img src="https://source.unsplash.com/640x640/?rock-concert" alt="">
        <div class="small_subtitle">
          <span class="subtitle_author">Kelsi Monahan</span>
          <h3>Qui occaecati vero et quibusdam non</h3>
          <p class="subtitle_article">Saepe quia culpa vero. Velit numquam corporis nihil sint enim
            exercitationem. Rem nulla illum sint et id
            dolore voluptas </p>
          <i><img src="/src/public/assets/arrow.svg" alt=""></i>
        </div>
      </article>
      <article>
        <img src="https://source.unsplash.com/640x640/?rock-concert" alt="">
        <div class="small_subtitle">
          <span class="subtitle_author">Kelsi Monahan</span>
          <h3>Qui occaecati vero et quibusdam non</h3>
          <p class="subtitle_article">Saepe quia culpa vero. Velit numquam corporis nihil sint enim
            exercitationem. Rem nulla illum sint et id
            dolore voluptas </p>
          <i><img src="/src/public/assets/arrow.svg" alt=""></i>
        </div>
      </article>
    </section>
    <section class="content_big right">
      <article>
        <img src="https://source.unsplash.com/640x640/?rock-concert" alt="">
        <div class="big_subtitle">
          <span class="big_author">Kelsi Monahan</span>
          <h3>Qui occaecati vero et quibusdam non</h3>
          <p class="big_article">Saepe quia culpa vero. Velit numquam corporis nihil sint enim
            exercitationem. Rem nulla illum sint et id
            dolore voluptas </p>
          <i><img src="/src/public/assets/arrow.svg" alt=""></i>
        </div>
      </article>
    </section>
    <section class="content_small">
      <article>
        <img src="https://source.unsplash.com/640x640/?rock-concert" alt="">
        <div class="small_subtitle">
          <span class="subtitle_author">Kelsi Monahan</span>
          <h3>Qui occaecati vero et quibusdam non</h3>
          <p class="subtitle_article">Saepe quia culpa vero. Velit numquam corporis nihil sint enim
            exercitationem. Rem nulla illum sint et id
            dolore voluptas </p>
          <i><img src="/src/public/assets/arrow.svg" alt=""></i>
        </div>
      </article>
      <article>
        <img src="https://source.unsplash.com/640x640/?rock-concert" alt="">
        <div class="small_subtitle">
          <span class="subtitle_author">Kelsi Monahan</span>
          <h3>Qui occaecati vero et quibusdam non</h3>
          <p class="subtitle_article">Saepe quia culpa vero. Velit numquam corporis nihil sint enim
            exercitationem. Rem nulla illum sint et id
            dolore voluptas </p>
          <i><img src="/src/public/assets/arrow.svg" alt=""></i>
        </div>
      </article>
    </section>
    <section class="content_big left">
      <article>
        <img src="https://source.unsplash.com/640x640/?rock-concert" alt="">
        <div class="big_subtitle">
          <span class="big_author">Kelsi Monahan</span>
          <h3>Qui occaecati vero et quibusdam non</h3>
          <p class="big_article">Saepe quia culpa vero. Velit numquam corporis nihil sint enim
            exercitationem. Rem nulla illum sint et id
            dolore voluptas </p>
          <i><img src="/src/public/assets/arrow.svg" alt=""></i>
        </div>
      </article>
    </section>


  </main>
</body>

</html>