<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Rockr Blog</title>
</head>

<body id="app">
  <header id="header">
    <div class="header__container">
      <h1 id="header__container__logo">Rockr Blog</h1>
      <nav class="header__container__nav">
        <ul>
          <li>Posts</li>
          <li>Contact</li>
        </ul>
      </nav>
    </div>
  </header>

  <main id="content">
    <section class="content__small">
      <article>
        <div class="small__image__container">
          <img src="https://source.unsplash.com/640x640/?rock-concert" alt="">
        </div>
        <span>Kelsi Monahan</span>
        <h3>Qui occaecati vero et quibusdam non</h3>
        <p>Saepe quia culpa vero. Velit numquam corporis nihil sint enim exercitationem. Rem nulla illum sint et id
          dolore voluptas </p>
        <i>>></i>
      </article>
      <article>
        <div class="small__image__container">
          <img src="https://source.unsplash.com/640x640/?rock-concert" alt="">
        </div>
        <span>Kelsi Monahan</span>
        <h3>Qui occaecati vero et quibusdam non</h3>
        <p>Saepe quia culpa vero. Velit numquam corporis nihil sint enim exercitationem. Rem nulla illum sint et id
          dolore voluptas </p>
        <i>>></i>
      </article>
    </section>
    <section class="content__big">
      <article>
        <div class="small__image__container">
          <img src="https://source.unsplash.com/640x640/?rock-concert" alt="">
        </div>
        <span>Kelsi Monahan</span>
        <h3>Qui occaecati vero et quibusdam non</h3>
        <p>Saepe quia culpa vero. Velit numquam corporis nihil sint enim exercitationem. Rem nulla illum sint et id
          dolore voluptas </p>
        <i>>></i>
      </article>
    </section>
    <section class="content__small">
      <article>
        <div class="small__image__container">
          <img src="https://source.unsplash.com/640x640/?rock-concert" alt="">
        </div>
        <span>Kelsi Monahan</span>
        <h3>Qui occaecati vero et quibusdam non</h3>
        <p>Saepe quia culpa vero. Velit numquam corporis nihil sint enim exercitationem. Rem nulla illum sint et id
          dolore voluptas </p>
        <i>>></i>
      </article>
      </article>
      <article>
        <div class="small__image__container">
          <img src="https://source.unsplash.com/640x640/?rock-concert" alt="">
        </div>
        <span>Kelsi Monahan</span>
        <h3>Qui occaecati vero et quibusdam non</h3>
        <p>Saepe quia culpa vero. Velit numquam corporis nihil sint enim exercitationem. Rem nulla illum sint et id
          dolore voluptas </p>
        <i>>></i>
      </article>
    </section>
    <section class="content__big">
      <article>
        <div class="small__image__container">
          <img src="https://source.unsplash.com/640x640/?rock-concert" alt="">
        </div>
        <span>Kelsi Monahan</span>
        <h3>Qui occaecati vero et quibusdam non</h3>
        <p>Saepe quia culpa vero. Velit numquam corporis nihil sint enim exercitationem. Rem nulla illum sint et id
          dolore voluptas </p>
        <i>>></i>
      </article>
    </section>
    <section class="content__small">
      <article>
        <div class="small__image__container">
          <img src="https://source.unsplash.com/640x640/?rock-concert" alt="">
        </div>
        <span>Kelsi Monahan</span>
        <h3>Qui occaecati vero et quibusdam non</h3>
        <p>Saepe quia culpa vero. Velit numquam corporis nihil sint enim exercitationem. Rem nulla illum sint et id
          dolore voluptas </p>
        <i>>></i>
      </article>
      </article>
      <article>
        <div class="small__image__container">
          <img src="https://source.unsplash.com/640x640/?rock-concert" alt="">
        </div>
        <span>Kelsi Monahan</span>
        <h3>Qui occaecati vero et quibusdam non</h3>
        <p>Saepe quia culpa vero. Velit numquam corporis nihil sint enim exercitationem. Rem nulla illum sint et id
          dolore voluptas </p>
        <i>>></i>
      </article>
    </section>
    <section class="content__big">
      <article>
        <div class="small__image__container">
          <img src="https://source.unsplash.com/640x640/?rock-concert" alt="">
        </div>
        <span>Kelsi Monahan</span>
        <h3>Qui occaecati vero et quibusdam non</h3>
        <p>Saepe quia culpa vero. Velit numquam corporis nihil sint enim exercitationem. Rem nulla illum sint et id
          dolore voluptas </p>
        <i>>></i>
      </article>
    </section>
    <section class="content__small">
      <article>
        <div class="small__image__container">
          <img src="https://source.unsplash.com/640x640/?rock-concert" alt="">
        </div>
        <span>Kelsi Monahan</span>
        <h3>Qui occaecati vero et quibusdam non</h3>
        <p>Saepe quia culpa vero. Velit numquam corporis nihil sint enim exercitationem. Rem nulla illum sint et id
          dolore voluptas </p>
        <i>>></i>
      </article>
      </article>
      <article>
        <div class="small__image__container">
          <img src="https://source.unsplash.com/640x640/?rock-concert" alt="">
        </div>
        <span>Kelsi Monahan</span>
        <h3>Qui occaecati vero et quibusdam non</h3>
        <p>Saepe quia culpa vero. Velit numquam corporis nihil sint enim exercitationem. Rem nulla illum sint et id
          dolore voluptas </p>
        <i>>></i>
      </article>
    </section>
    <section class="content__big">
      <article>
        <div class="small__image__container">
          <img src="https://source.unsplash.com/640x640/?rock-concert" alt="">
        </div>
        <span>Kelsi Monahan</span>
        <h3>Qui occaecati vero et quibusdam non</h3>
        <p>Saepe quia culpa vero. Velit numquam corporis nihil sint enim exercitationem. Rem nulla illum sint et id
          dolore voluptas </p>
        <i>>></i>
      </article>
    </section>
    <section class="content__small">
      <article>
        <div class="small__image__container">
          <img src="https://source.unsplash.com/640x640/?rock-concert" alt="">
        </div>
        <span>Kelsi Monahan</span>
        <h3>Qui occaecati vero et quibusdam non</h3>
        <p>Saepe quia culpa vero. Velit numquam corporis nihil sint enim exercitationem. Rem nulla illum sint et id
          dolore voluptas </p>
        <i>>></i>
      </article>
      </article>
      <article>
        <div class="small__image__container">
          <img src="https://source.unsplash.com/640x640/?rock-concert" alt="">
        </div>
        <span>Kelsi Monahan</span>
        <h3>Qui occaecati vero et quibusdam non</h3>
        <p>Saepe quia culpa vero. Velit numquam corporis nihil sint enim exercitationem. Rem nulla illum sint et id
          dolore voluptas </p>
        <i>>></i>
      </article>
    </section>
  </main>
</body>

</html>