@use './vars';

#content {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.content_small {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 60px 0;
  
  
  img {
    max-height: 320px;
    
  }
  
  
  .small_subtitle {
    padding: 0 5rem;
    
    .subtitle_author {
      font-size: 1.25rem;

      @media (min-width: 1440px) {
        font-size: 1rem;
      }
    }
    
    .subtitle_article {
      font-size: 1.5rem;
      line-height: 2.1rem;
      @media (min-width: 1440px) {
        font-size: 1.25rem;
        line-height: 1.8rem;
      }
    }
  }
}

.test {
  height: fit-content;
  height: 100%;

  img {
    height: 100%;
  }
}

.content_big {
  max-width: 1280px;
  
  img {
    max-height: 640px;
  }
  
  .big_subtitle {
    padding: 163px 80px;

    .big_author {
      font-size: 1.25rem;
    }
    
    .big_article {
      font-size: 1.5rem;
      line-height: 2.2rem;
    }
  }
}

.right {
  align-self: flex-end;
}

.left {
  align-self: flex-start;
}