@use './vars';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: vars.$font-default
}

body {
  background: vars.$body-background;
  font-family: vars.$font-default
}

h3 {
  @include vars.title-medium;
  padding: .8rem 0;

  @media (min-width: 1440px) {
    font-size: 1.5rem;
  }
}


#header {
  background: vars.$header-background;
  color: vars.$default-white;
  height: 5rem;

  #logo {
    font-size: 2rem;
  }

  button {
    background-color: transparent;
    color: vars.$default-white;
    border: none;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;

    &:hover,
    &:active {
      text-decoration: underline;
    }
  }

  a {
    color: vars.$default-white;
    text-decoration: none;

    &:hover,
    &:active {
      text-decoration: underline;
    }
  }

  .container {
    width: 80%;
    height: 100%;
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .navigation {
      ul {
        list-style: none;
        display: flex;
        align-items: center;
        gap: 2.5rem;
        font-weight: 500;
      }
    }
  }

}